<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Manufacturer</title>
</head>
<body>
    <h2>Add Manufacturer</h2>
    
    <form method="post" th:action="@{/manufacturers}">
        <label>Name:</label>
        <input type="text" th:field="${manufacturer.name}" required><br>
        
        <label>URL:</label>
        <input type="text" th:field="${manufacturer.url}" required><br>
        
        <input type="submit" value="Add Manufacturer">
    </form>
    
    <br>
    <a href="/manufacturers">Back to Manufacturer List</a>
</body>
</html>